sudo: required
dist: trusty
before_install:
- sudo apt-get -qq update && sudo apt-get install -y --no-install-recommends texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra dvipng texlive-latex-recommended latexmk texlive-generic-extra texlive-generic-recommended texlive-math-extra
script:
  - make all
  - ls -ltra
after_success:
  - git checkout -b built-pages
  - git add --force *.pdf index.html
  - git commit -m "adding pdfs `date`"
  - test "$TRAVIS_BRANCH" = "master" && git remote add deploy https://$GITHUB_TOKEN@github.com/seq2class/scribe-notes.git && git push --force deploy built-pages:gh-pages
# deploy:
#   provider: pages
#   skip-cleanup: true
#   github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
#   keep-history: false
#   on:
#     branch: master
